{% extends 'Website/index.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accepted papers</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://getbootstrap.com/docs/5.2/assets/css/docs.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <!--css containing margin and padding-->
    <link rel="stylesheet" href="{% static 'Website/alignment.css'%}" />
    <!--css styles-->
    <link
      rel="stylesheet"
      href="{% static 'Website/acceptedPublications.css'%}"
    />
  </head>
  <body>
    <!-- ========== navigation ========== -->
    {% block content %}
    <!-- end of nav -->

    <!-- ========== Accepted publications ========== -->

    <section class="container sec-margin">
      <h2>Accepted Publications</h2>
      <!-- ========== AcceptedPaper card ==========  -->
      <div class="border rounded p-4 div-margin">
        <div class="d-flex align-items-center mb-3">
          <img
            class="track-image"
            src="{% static 'assets/ai_icon.svg'%}"
            alt="ai"
          />
          <p class="m-0 ms-2">Name of the track</p>
        </div>
        <h5 class="m-0">Title of the paper:Lorem ipsum</h5>
        <p class="m-0">Name of the author</p>
        <p class="small">published date</p>
        <p class="small">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
          voluptates laborum doloribus quisquam, atque facilis vel numquam
          corrupti neque ab iure, corporis harum aut illo possimus quasi totam
          vero cum.
        </p>
        <button type="button" class="btn btn-secondary btn-sm">
          Read More
        </button>
      </div>
      <!-- end of AcceptedPaper card -->

      <!-- ========== AcceptedPaper card ==========  -->
      <div class="border rounded p-4 div-margin">
        <div class="d-flex align-items-center mb-3">
          <img
            class="track-image"
            src="{% static 'assets/ai_icon.svg'%}"
            alt="ai"
          />
          <p class="m-0 ms-2">Name of the track</p>
        </div>
        <h5 class="m-0">Title of the paper:Lorem ipsum</h5>
        <p class="m-0">Name of the author</p>
        <p class="small">published date</p>
        <p class="small">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
          voluptates laborum doloribus quisquam, atque facilis vel numquam
          corrupti neque ab iure, corporis harum aut illo possimus quasi totam
          vero cum.
        </p>
        <button type="button" class="btn btn-secondary btn-sm">
          Read More
        </button>
      </div>
      <!-- end of AcceptedPaper card -->

      <!-- ========== AcceptedPaper card ==========  -->
      <div class="border rounded p-4 div-margin">
        <div class="d-flex align-items-center mb-3">
          <img
            class="track-image"
            src="{% static 'assets/ai_icon.svg'%}"
            alt="ai"
          />
          <p class="m-0 ms-2">Name of the track</p>
        </div>
        <h5 class="m-0">Title of the paper:Lorem ipsum</h5>
        <p class="m-0">Name of the author</p>
        <p class="small">published date</p>
        <p class="small">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
          voluptates laborum doloribus quisquam, atque facilis vel numquam
          corrupti neque ab iure, corporis harum aut illo possimus quasi totam
          vero cum.
        </p>
        <button type="button" class="btn btn-secondary btn-sm">
          Read More
        </button>
      </div>
      <!-- end of AcceptedPaper card -->

      <!-- ========== AcceptedPaper card ==========  -->
      <div class="border rounded p-4 div-margin">
        <div class="d-flex align-items-center mb-3">
          <img
            class="track-image"
            src="{% static 'assets/ai_icon.svg'%}"
            alt="ai"
          />
          <p class="m-0 ms-2">Name of the track</p>
        </div>
        <h5 class="m-0">Title of the paper:Lorem ipsum</h5>
        <p class="m-0">Name of the author</p>
        <p class="small">published date</p>
        <p class="small">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
          voluptates laborum doloribus quisquam, atque facilis vel numquam
          corrupti neque ab iure, corporis harum aut illo possimus quasi totam
          vero cum.
        </p>
        <button type="button" class="btn btn-secondary btn-sm">
          Read More
        </button>
      </div>
      <!-- end of AcceptedPaper card -->

      <!-- ========== AcceptedPaper card ==========  -->
      <div class="border rounded p-4 div-margin">
        <div class="d-flex align-items-center mb-3">
          <img
            class="track-image"
            src="{% static 'assets/ai_icon.svg'%}"
            alt="ai"
          />
          <p class="m-0 ms-2">Name of the track</p>
        </div>
        <h5 class="m-0">Title of the paper:Lorem ipsum</h5>
        <p class="m-0">Name of the author</p>
        <p class="small">published date</p>
        <p class="small">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
          voluptates laborum doloribus quisquam, atque facilis vel numquam
          corrupti neque ab iure, corporis harum aut illo possimus quasi totam
          vero cum.
        </p>
        <button type="button" class="btn btn-secondary btn-sm">
          Read More
        </button>
      </div>
      <!-- end of AcceptedPaper card -->
    </section>
    <!--end of accepted Publictions-->

    <!-- ========= Pagination ==========-->

    <section class="container d-flex justify-content-center sec-margin">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link border rounded" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;Prev</span>
            </a>
          </li>
          <li class="page-item">&nbsp;&nbsp;&nbsp;</li>
          <li class="page-item">
            <a class="page-link border rounded" href="#">1</a>
          </li>
          <li class="page-item">&nbsp;&nbsp;&nbsp;</li>
          <li class="page-item">
            <a class="page-link border rounded" href="#">2</a>
          </li>
          <li class="page-item">&nbsp;&nbsp;&nbsp;</li>
          <li class="page-item">
            <a class="page-link border rounded" href="#">3</a>
          </li>
          <li class="page-item">&nbsp;&nbsp;&nbsp;</li>
          <li class="page-item">
            <a class="page-link border rounded" href="#">4</a>
          </li>
          <li class="page-item">&nbsp;&nbsp;&nbsp;</li>
          <li class="page-item">
            <a class="page-link border rounded" href="#">5</a>
          </li>
          <li class="page-item">&nbsp;&nbsp;&nbsp;</li>
          <li class="page-item">
            <a class="page-link border rounded" href="#" aria-label="Next">
              <span aria-hidden="true">Next&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </section>
    <!--end of pagination-->
    <!-- Footer start -->

    <!-- Footer end -->
  </body>
  {% endblock %}
</html>
