{% extends 'Website/index.html' %}
{% block content %}
<section class="container">
    <h1 class="mt-5 mb-4">Accepted Papers</h1>
    <table class="papers-table table table-bordered table-striped table-responsive">
        <thead class="table-dark text-center">
            <th class="col-2">Submission Id</th>
            <th>Authors</th>
            <th>Paper Title</th>
        </thead>
        <tbody class="text-center">
            <tr>
                <td>101</td>
                <td>Minakshi M.Sonawane, Bharti
                    W.Gawali, Ramesh R. Manza,
                    Sudhir Mendhekar</td>
                <td>Identification of Skin Disease using Machine
                    Learning for Digital image Acquisaiton System</td>
            </tr>
            <tr>
                <td>102</td>
                <td>Midhun Das L, Dr Prem Sankar C</td>
                <td>KU BOT-Intelligent Conversational Chatbot for
                    the Admission Process of the University of Kerala
                    Using Natural Language Processing (NLP)
                    Powered RASA Framework</td>
            </tr>
            <tr>
                <td>103</td>
                <td>Aparna T B , Arun Babu K , 
                    Harsha T V , Soja N , Asha Ali , 
                    Ratheesh T K</td>
                <td>AN INTEGRATED FRAMEWORK FOR 
                    TECHNICAL DOCUMENT SUMMARIZATION 
                    AND MULTIPLE CHOICE QUESTION 
                    GENERATION</td>
            </tr>
            <tr>
                <td>106</td>
                <td>Ajith G</td>
                <td>BRAIN TUMOR DETECTION SYSTEM FOR
                    IMAGE PROCESSING USING RASPBERRY PI</td>
            </tr>
            <tr>
                <td>107</td>
                <td>Devendra Kumar Tayal, Yashima 
                    Hooda, Diksha and Aananya 
                    Nagpal </td>
                <td>COMPARING LANGUAGE DETECTION 
                    METHODS ON SHORT TEXTS FROM 
                    TWITTER</td>
            </tr>
            <tr>
                <td>108</td>
                <td>Aparna Suresh
                    Dr .S .V Annlin Jeba</td>
                <td>CREDIT CARD FRAUD DETECTION WITH 
                    MACHINE LEARNING AND DEEP LEARNING
                    ALGORITHMS</td>
            </tr>
            <tr>
                <td>110</td>
                <td>Bishwa Ranjan Das , Hima Bindu 
                    Maringanti , Niladri Sekhar Dash</td>
                <td>Named Entity Recognition for Odia Text Using 
                    Machine Learning Algorithm</td>
            </tr>
            <tr>
                <td>112</td>
                <td>Dr.S Malathi, V.Mangaiyarkarasi</td>
                <td>Elevating Network Authentication Using Hybrid 
                    General Adversarial
                    Network(HGAN) With Authentication 
                    Cryptographic Intrusion Detection
                    System By Providing Quality Of Service (Qos) 
                    based on Machine
                    Learning Methods.
                    </td>
            </tr>
            <tr>
                <td>117</td>
                <td>R.Priyadharshini , G.Jeyakodi and
                    P.Shanthi Bala</td>
                <td>COMPARATIVE ANALYSIS OF 
                    CONTEXTUAL RELATION EXTRACTION 
                    BASED ON DEEP LEARNING MODELS</td>
            </tr>
            <tr>
                <td>118</td>
                <td>Renetha J B and Deepthi P S</td>
                <td>A survey on methods for detecting Cyberbullying 
                    in multilingual documents</td>
            </tr>
            <tr>
                <td>121</td>
                <td>Devendr Kumar, Prof. Girish Nath 
                    Jha</td>
                <td>Resource Creation for Sanskrit ASR (Automatic 
                    Speech Recognition) </td>
            </tr>
            <tr>
                <td>123</td>
                <td>Rizwana K T</td>
                <td>End to End Multi-Accent Speech Recognition for 
                    Short Utterances in Malayalam Using LSTM RNN
                    and Deep CNN.
                    </td>
            </tr>
            <tr>
                <td>124</td>
                <td>Deepthi A J</td>
                <td>REACT -NATIVE BASED MOBILE APP FOR 
                    BIOSIGNAL DATA ACQUISITION DESIGN</td>
            </tr>
            <tr>
                <td>126</td>
                <td>Vijay Sundar Ram R and Sobha 
                    Lalitha Devi</td>
                <td>NEURAL MACHINE TRANSLATION FOR 
                    ENGLISH -MALAYALAM</td>
            </tr>
            <tr>
                <td>129</td>
                <td>Pattabhi RK Rao and Sobha Lalitha
                    Devi</td>
                <td>EVENT EXTRACTION FROM SOCIAL MEDIA 
                    TEXT IN MALAYALAM USING NEURAL 
                    CONDITIONAL RANDOM FIELDS</td>
            </tr>
        </tbody>
    </table>
</section>
{% endblock %}