{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accepted papers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <!--css containing margin and padding-->
    <link rel="stylesheet" href="{% static 'Website/alignment.css'%}">
    <!--css styles-->
    <link rel="stylesheet" href="{% static 'Website/acceptedPublications.css'%}">
</head>
<body>
    <!-- ========== navigation ========== -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
            <a class="navbar-brand " href="{% url 'Website:index' %}"> <img src="{% static 'assets/logo.svg' %}" width="90"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item btn btn-light">
                        <a class="nav-link active" aria-current="page" href="{% url 'Website:index' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown btn btn-light">
                        <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            For Authors
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'Website:callforpaper' %}">Call For Papers</a></li>
                            <li><a class="dropdown-item" href="{% url 'Website:papersub' %}">Paper Submission</a></li>
                            <li><a class="dropdown-item" href="{% url 'Website:acceptedpub' %}">Accepetd Papers</a></li>
                        </ul>
                    </li>
                    <li class="nav-item btn btn-light">
                        <a class="nav-link active" href="{% url 'Website:reg' %}">Registration</a>
                    </li>
                    <li class="nav-item btn btn-light">
                        <a class="nav-link active" href="{% url 'Website:index' %}#Schedule">Schedule</a>
                    </li>
                    <li class="nav-item btn btn-light">
                        <a class="nav-link active" href="{% url 'Website:index' %}#Speakers">Speakers</a>
                    </li>
                    <li class="nav-item btn btn-light">
                        <a class="nav-link active" href="{% url 'Website:index' %}#Awards">Awards</a>
                    </li>
                    <li class="nav-item btn btn-light">
                        <a class="nav-link active" href="{% url 'Website:index' %}#Venue">Venue</a>
                    </li>
                    <li class="nav-item btn btn-light">
                        <a class="nav-link active"  href="{% url 'Website:index' %}#Help">Help</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> <!-- end of nav -->


    <!-- ========== Accepted publications ========== -->
    
    <section class="container sec-margin">
        <h2>Accepted Publications</h2>
        <!-- ========== AcceptedPaper card ==========  -->
        <div class="border rounded p-4 div-margin">
            <div class="d-flex align-items-center mb-3">
                <img class="track-image" src="{% static 'assets/ai_icon.svg'%}" alt="ai">
                <p class="m-0 ms-2">Name of the track</p>
            </div>
            <h5 class="m-0">Title of the paper:Lorem ipsum</h5>
            <p class="m-0">Name of the author</p>
            <p class="small">published date</p>
            <p class="small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptates laborum doloribus quisquam, atque facilis vel numquam corrupti neque ab iure, corporis harum aut illo possimus quasi totam vero cum.</p>
            <button type="button" class="btn btn-secondary btn-sm">Read More</button>
        </div> <!-- end of AcceptedPaper card -->

        <!-- ========== AcceptedPaper card ==========  -->
        <div class="border rounded p-4 div-margin">
            <div class="d-flex align-items-center mb-3">
                <img class="track-image" src="{% static 'assets/ai_icon.svg'%}" alt="ai">
                <p class="m-0 ms-2">Name of the track</p>
            </div>
            <h5 class="m-0">Title of the paper:Lorem ipsum</h5>
            <p class="m-0">Name of the author</p>
            <p class="small">published date</p>
            <p class="small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptates laborum doloribus quisquam, atque facilis vel numquam corrupti neque ab iure, corporis harum aut illo possimus quasi totam vero cum.</p>
            <button type="button" class="btn btn-secondary btn-sm">Read More</button>
        </div> <!-- end of AcceptedPaper card -->

        <!-- ========== AcceptedPaper card ==========  -->
        <div class="border rounded p-4 div-margin">
            <div class="d-flex align-items-center mb-3">
                <img class="track-image" src="{% static 'assets/ai_icon.svg'%}" alt="ai">
                <p class="m-0 ms-2">Name of the track</p>
            </div>
            <h5 class="m-0">Title of the paper:Lorem ipsum</h5>
            <p class="m-0">Name of the author</p>
            <p class="small">published date</p>
            <p class="small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptates laborum doloribus quisquam, atque facilis vel numquam corrupti neque ab iure, corporis harum aut illo possimus quasi totam vero cum.</p>
            <button type="button" class="btn btn-secondary btn-sm">Read More</button>
        </div> <!-- end of AcceptedPaper card -->

        <!-- ========== AcceptedPaper card ==========  -->
        <div class="border rounded p-4 div-margin">
            <div class="d-flex align-items-center mb-3">
                <img class="track-image" src="{% static 'assets/ai_icon.svg'%}" alt="ai">
                <p class="m-0 ms-2">Name of the track</p>
            </div>
            <h5 class="m-0">Title of the paper:Lorem ipsum</h5>
            <p class="m-0">Name of the author</p>
            <p class="small">published date</p>
            <p class="small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptates laborum doloribus quisquam, atque facilis vel numquam corrupti neque ab iure, corporis harum aut illo possimus quasi totam vero cum.</p>
            <button type="button" class="btn btn-secondary btn-sm">Read More</button>
        </div> <!-- end of AcceptedPaper card -->

        <!-- ========== AcceptedPaper card ==========  -->
        <div class="border rounded p-4 div-margin">
            <div class="d-flex align-items-center mb-3">
                <img class="track-image" src="{% static 'assets/ai_icon.svg'%}" alt="ai">
                <p class="m-0 ms-2">Name of the track</p>
            </div>
            <h5 class="m-0">Title of the paper:Lorem ipsum</h5>
            <p class="m-0">Name of the author</p>
            <p class="small">published date</p>
            <p class="small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptates laborum doloribus quisquam, atque facilis vel numquam corrupti neque ab iure, corporis harum aut illo possimus quasi totam vero cum.</p>
            <button type="button" class="btn btn-secondary btn-sm">Read More</button>
        </div> <!-- end of AcceptedPaper card -->

 
    </section><!--end of accepted Publictions-->


    <!-- ========= Pagination ==========-->

    <section class="container d-flex justify-content-center sec-margin">
        <nav aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link border rounded" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;Prev</span>
                </a>
              </li>
              <li class="page-item">&nbsp;&nbsp;&nbsp;</li>
              <li class="page-item"><a class="page-link border rounded" href="#">1</a></li>
              <li class="page-item">&nbsp;&nbsp;&nbsp;</li>
              <li class="page-item"><a class="page-link border rounded" href="#">2</a></li>
              <li class="page-item">&nbsp;&nbsp;&nbsp;</li>
              <li class="page-item"><a class="page-link border rounded" href="#">3</a></li>
              <li class="page-item">&nbsp;&nbsp;&nbsp;</li>
              <li class="page-item"><a class="page-link border rounded" href="#">4</a></li>
              <li class="page-item">&nbsp;&nbsp;&nbsp;</li>
              <li class="page-item"><a class="page-link border rounded" href="#">5</a></li>
              <li class="page-item">&nbsp;&nbsp;&nbsp;</li>
              <li class="page-item">
                <a class="page-link border rounded" href="#" aria-label="Next">
                  <span aria-hidden="true">Next&raquo;</span>
                </a>
              </li>
            </ul>
        </nav>
    </section><!--end of pagination-->
    <footer class="text-center text-lg-start bg-white">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        </section>
        <!-- Section: Social media -->
     
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
           <!-- Grid row -->
           <div class="row mt-3">
             <!-- Grid column -->
             <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
               <!-- Content -->
               <h6 class="text-uppercase fw-bold mb-4">
                 <i class="fas fa-gem  text-secondary"></i> ICFOSS
               </h6>
               <p>
                 Greenfield Stadium<br> Opposite University of Kerala Campus<br> Karyavattom, Thiruvananthapuram <br> Kerala 695581
               </p>
             </div>
             <!-- Grid column -->
     
             <!-- Grid column -->
             <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
               <!-- Links -->
               <h6 class="text-uppercase fw-bold mb-4">
                 Lorem ipsum
               </h6>
               <p>
                 <a href="#!" class="text-reset">lorem ipsum</a>
               </p>
               <p>
                 <a href="#!" class="text-reset">ipsum</a>
               </p>
               <p>
                 <a href="#!" class="text-reset">dolor sit</a>
               </p>
               <p>
                 <a href="#!" class="text-reset">amet</a>
               </p>
             </div>
             <!-- Grid column -->
     
             <!-- Grid column -->
             <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
               <!-- Links -->
               <h6 class="text-uppercase fw-bold mb-4">
                 lorem ipsum
               </h6>
               <p>
                 <a href="#!" class="text-reset">dolor</a>
               </p>
               <p>
                 <a href="#!" class="text-reset">sit amet</a>
               </p>
               <p>
                 <a href="#!" class="text-reset">consectetur</a>
               </p>
               <p>
                 <a href="#!" class="text-reset">adipiscing</a>
               </p>
             </div>
             <!-- Grid column -->
     
             <!-- Grid column -->
             <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
               <!-- Links -->
               <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
               <!-- <p><i class="fas fa-home me-3 text-secondary"></i> New York, NY 10012, US</p> -->
               <p>
                 <i class="fas fa-envelope  text-secondary"></i>
                 info@icfoss.in
               </p>
               <p><i class="fas fa-phone  text-secondary"></i>+91 471-2413012</p>
               <p><i class="fas fa-print  text-secondary"></i>+91-9400225962</p>
             </div>
             <!-- Grid column -->
           </div>
           <!-- Grid row -->
         </div>
       </section>
       <!-- Section: Links  -->
     
       <!-- Copyright -->
       <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
         Developed by R&D ICFOSS © 2022 Copyright:
         <a class="text-reset fw-bold" href="https://icfoss.in/">icfoss.in</a>
       </div>
       <!-- Copyright -->
     </footer>
     <!-- Footer end -->
</body>