{% extends 'Website/index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Call for papers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <!--css containing margin and padding-->
    <link rel="stylesheet" href="{% static 'Website/alignment.css'%}">
    <style>
            .track-card{
        background: #F6DCB5;
        box-shadow: 0 2px 15px -5px rgba(0, 0, 0, 0.15);
        border-radius: 4px !important;
        -webkit-border-radius: 4px !important;
        -moz-border-radius: 4px !important;
        -ms-border-radius: 4px !important;
        -o-border-radius: 4px !important;
    }
    </style>
</head>
<body>
    <!-- ========== navigation ========== -->
    {% block content %}
    <!-- end of nav -->

    <!-- ========== call for papers description ========== -->
 
    <section class="container sec-margin">
        <div>
            <!-- call for papers  -->

            <h1 class="mb-lg-3">Call For Papers</h1>
            <div>
                <p class="line-space mb-0">The Committee of the International Conference on <strong>FOSS Approaches towards Computational Intelligence and Language Technology(FOSS-CILT23)</strong>
                     would like to invite members of the community to submit papers and posters.
                      FOSS-CIL T23 seeks to promote and stimulate discussion on the latest innovations and developments in all fields of NLP, Language Technology and E-Governance.
                </p>
                <p class="line-space">Honorable authors are cordially invited to contribute their research papers and posters. All papers submitted to the conference will be subjected to a rigorous peer-review process. All accepted papers will be published in <strong>Open Access</strong>,a peer-reviewed journal, <strong>Research Cell:  An International Journal of Engineering Sciences (ISSN: 2229-6913)(Print),(ISSN: 2320-0332)(Online).</strong>
                </p>
   
            </div>
        </div>
        <div class="mt-lg-4">
            <a href="{% url 'Website:update' %}" role="button" class="btn primary-button btn-lg ">Submit paper</a>
            <a href="{% static 'assets/template.doc'%}"  role="button" class="btn primary-button-outlined-black btn-lg ms-lg-2 ms-md-2 ms-sm-0 xs-margin-top-outlined" download>Download Template</a>
        </div>

        <!-- important dates -->

        <section class="sec-margin " data-aos="fade-up">
            <div>
                <h4 class="mb-lg-3">Important Dates</h4>
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr >
                            <th scope="col">Paper Submission Deadline</th>
                            <td scope="col">16 January  2023</td>
                        </tr>
                        <tr>
                            <th scope="row">Paper Acceptance</th>
                            <td>6 February 2023</td>

                        </tr>
                        <tr>
                            <th scope="row">Deadline for Registration & Camera Ready</th>
                            <td>15 February 2023</td>

                        </tr>
                        <tr>
                            <th scope="row">Conference Dates</th>
                            <td colspan="4">22-23 February 2023</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="div-margin mt-lg-5" data-aos="fade-up">
            <h4>Paper Submission Guidelines</h4>
            <p class="line-space mb-lg-3" style="color:#605e5e">All papers must be original and not simultaneously submitted to another journal or conference. All papers submitted to FOSS-CILT23 will be checked for plagiarism including self-plagiarism. If a paper is found to fall in the category of plagiarism, the paper will be automatically rejected.
                The following paper categories are welcome:
            </p>
            <ul class="line-space p-0 m-0" type="none">
                <li class="d-flex align-items-center m-2">
                    <ion-icon name="information-circle-outline" class="me-2" style="width: 28px; height: 28px; color: #fd7e14;"></ion-icon>
                    <span> Paper should be written in English.</span>
                </li>
                <li class="d-flex align-items-center m-2">
                    <ion-icon name="information-circle-outline" class="me-2" style="width: 28px; height: 28px; color: #fd7e14;"></ion-icon>
                    <span>View the theme and scope topics.</span>
                </li>
                <li class="d-flex align-items-center m-2">
                    <ion-icon name="information-circle-outline" class="me-2" style="width: 28px; height: 28px; color: #fd7e14;"></ion-icon>
                    <span>Length of a <strong>submitted paper should be between 6 - 8 pages.</strong></span>
                </li>
                <li class="d-flex align-items-center m-2">
                    <ion-icon name="information-circle-outline" class="me-2" style="width: 28px; height: 28px; color: #fd7e14;"></ion-icon>
                    <span>Paper must conform to the standard of templates for conference proceedings.</span>
                </li>
                <li class="d-flex align-items-center m-2">
                    <ion-icon name="information-circle-outline" class="me-2" style="width: 28px; height: 28px; color: #fd7e14;"></ion-icon>
                    <span>Non-presented papers will be pulled from submission.</span>
                </li>
                <li class="d-flex align-items-center m-2">
                    <ion-icon name="information-circle-outline" class="me-2" style="width: 28px; height: 28px; color: #fd7e14;"></ion-icon>
                    <span>All review processes are single-blind peer reviews.</span>
                </li>
                <li class="d-flex align-items-center m-2">
                    <ion-icon name="information-circle-outline" class="me-2" style="width: 28px; height: 28px; color: #fd7e14;"></ion-icon>
                    <span>Full paper must be submitted in PDF format through Online Submission System.</span>
                </li>
            </ul>
        </section>
        <!-- available tracks -->

        <div class="row gx-5 my-4">
            <div class="col-lg-6">
                <div class="div-margin row">
                    <div class="track-card p-4" data-aos="fade-up">
                        <h4>Language Technology</h4>
                        <p style="color: rgb(75, 71, 71);">Track 1</p>
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="m-0 d-flex align-items-center justify-content-start">
                                    <ion-icon name="chevron-forward-circle-outline" style="width: 24px; height: 24px;">
                                    </ion-icon>
                                    <span class="track-data m-1">Machine Translation</span>
                                </p>
                                <p class="m-0 d-flex align-items-center justify-content-start">
                                    <ion-icon name="chevron-forward-circle-outline" style="width: 24px; height: 24px;">
                                    </ion-icon>
                                    <span class="track-data m-1">Semantic Processing</span>
                                </p>
                                <p class="m-0 d-flex align-items-center justify-content-start">
                                    <ion-icon name="chevron-forward-circle-outline" style="width: 24px; height: 24px;">
                                    </ion-icon>
                                    <span class="track-data m-1">Linguistic Resources</span>
                                </p>
                                <p class="m-0 d-flex align-items-center justify-content-start">
                                    <ion-icon name="chevron-forward-circle-outline" style="width: 24px; height: 24px;">
                                    </ion-icon>
                                    <span class="track-data m-1">Chunking/Shallow Parsing</span>
                                </p>
                                <p class="m-0 d-flex align-items-start justify-content-start">
                                    <ion-icon name="chevron-forward-circle-outline" style="min-width: 24px; min-height: 24px;" class="mt-1">
                                    </ion-icon>
                                    <span class="track-data m-1">Parsing/Grammatical Formalisms</span>
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <p class="m-0 d-flex align-items-center justify-content-start">
                                    <ion-icon name="chevron-forward-circle-outline" style="width: 24px; height: 24px;">
                                    </ion-icon>
                                    <span class="track-data m-1">Lexical Semantics</span>
                                </p>
                                <p class="m-0 d-flex align-items-center justify-content-start">
                                    <ion-icon name="chevron-forward-circle-outline" style="width: 24px; height: 24px;">
                                    </ion-icon>
                                    <span class="track-data m-1">Ontology</span>
                                </p>
                                <p class="m-0 d-flex align-items-center justify-content-start">
                                    <ion-icon name="chevron-forward-circle-outline" style="width: 24px; height: 24px;">
                                    </ion-icon>
                                    <span class="track-data m-1">POS tagging</span>
                                </p>
                                <p class="m-0 d-flex align-items-start justify-content-start">
                                    <ion-icon name="chevron-forward-circle-outline" style="min-width: 24px; min-height: 24px;" class="mt-1">
                                    </ion-icon>
                                    <span class="track-data m-1">Paraphrasing / Entailment / Generation</span>
                                </p>
                                <p class="m-0 d-flex align-items-start justify-content-start">
                                    <ion-icon name="chevron-forward-circle-outline" style="min-width: 24px; min-height: 24px;" class="mt-1">
                                    </ion-icon>
                                    <span class="track-data m-1">Discourse, Phonology, Morphology</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="div-margin row">
                    <div class="track-card p-4" data-aos="fade-up">
                        <h4 class="">Text Analysis</h4>
                        <p style="color: rgb(75, 71, 71);">Track 2</p>
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="m-0 d-flex align-items-center justify-content-start">
                                    <ion-icon name="chevron-forward-circle-outline" style="width: 24px; height: 24px;">
                                    </ion-icon>
                                    <span class="track-data m-1">Question Answering </span>
                                </p>
                                <p class="m-0 d-flex align-items-center justify-content-start">
                                    <ion-icon name="chevron-forward-circle-outline" style="width: 24px; height: 24px;">
                                    </ion-icon>
                                    <span class="track-data m-1">Dialog Systems</span>
                                </p>
                                <p class="m-0 d-flex align-items-center justify-content-start">
                                    <ion-icon name="chevron-forward-circle-outline" style="width: 24px; height: 24px;">
                                    </ion-icon>
                                    <span class="track-data m-1">Text summarization</span>
                                </p>
                                <p class="m-0 d-flex align-items-start justify-content-start">
                                    <ion-icon name="chevron-forward-circle-outline" style="min-width: 24px; min-height: 24px;" class="mt-1">
                                    </ion-icon>
                                    <span class="track-data m-1">Natural Language Generation</span>
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <p class="m-0 d-flex align-items-center justify-content-start">
                                    <ion-icon name="chevron-forward-circle-outline" style="width: 24px; height: 24px;">
                                    </ion-icon>
                                    <span class="track-data m-1">Sentimental Analysis</span>
                                </p>
                                <p class="m-0 d-flex align-items-center justify-content-start">
                                    <ion-icon name="chevron-forward-circle-outline" style="width: 24px; height: 24px;">
                                    </ion-icon>
                                    <span class="track-data m-1">Social Media Analytics</span>
                                </p>
                                <p class="m-0 d-flex align-items-center justify-content-start">
                                    <ion-icon name="chevron-forward-circle-outline" style="width: 24px; height: 24px;">
                                    </ion-icon>
                                    <span class="track-data m-1">Text mining</span>
                                </p>
                                <p class="m-0 d-flex align-items-start justify-content-start">
                                    <ion-icon name="chevron-forward-circle-outline" style="min-width: 24px; min-height: 24px;" class="mt-1">
                                    </ion-icon>
                                    <span class="track-data m-1">NLP-based Recommendation systems</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="div-margin row">
                    <div class="track-card p-4" data-aos="fade-up">
                        <h4 class="">Information Retrieval and Image Processing</h4>
                        <p style="color: rgb(75, 71, 71);">Track 3</p>
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="m-0 d-flex align-items-center justify-content-start">
                                    <ion-icon name="chevron-forward-circle-outline" style="width: 24px; height: 24px;">
                                    </ion-icon>
                                    <span class="track-data m-1">Hand-written Recognition </span>
                                </p>
                                <p class="m-0 d-flex align-items-center justify-content-start">
                                    <ion-icon name="chevron-forward-circle-outline" style="width: 24px; height: 24px;">
                                    </ion-icon>
                                    <span class="track-data m-1">Computer vision</span>
                                </p>
                                <p class="m-0 d-flex align-items-center justify-content-start">
                                    <ion-icon name="chevron-forward-circle-outline" style="width: 24px; height: 24px;">
                                    </ion-icon>
                                    <span class="track-data m-1">Medical Image Processing</span>
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <p class="m-0 d-flex align-items-center justify-content-start">
                                    <ion-icon name="chevron-forward-circle-outline" style="width: 24px; height: 24px;">
                                    </ion-icon>
                                    <span class="track-data m-1">Object Detection</span>
                                </p>
                                <p class="m-0 d-flex align-items-center justify-content-start">
                                    <ion-icon name="chevron-forward-circle-outline" style="width: 24px; height: 24px;">
                                    </ion-icon>
                                    <span class="track-data m-1">Hand Gesture Recognition</span>
                                </p>
                                <p class="m-0 d-flex align-items-start justify-content-start">
                                    <ion-icon name="chevron-forward-circle-outline" style="min-width: 24px; min-height: 24px;" class="mt-1">
                                    </ion-icon>
                                    <span class="track-data m-1">Image Segmentation and Classification</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="div-margin row">
                    <div class="track-card p-4" data-aos="fade-up">
                        <h4 class="">Speech Analysis</h4>
                        <p style="color: rgb(75, 71, 71);">Track 4</p>
                        <div>
                            <p class="m-0 d-flex align-items-center justify-content-start">
                                <ion-icon name="chevron-forward-circle-outline" style="width: 24px; height: 24px;">
                                </ion-icon>
                                <span class="track-data m-1">Spoken Language Processing</span>
                            </p>
                            <p class="m-0 d-flex align-items-center justify-content-start">
                                <ion-icon name="chevron-forward-circle-outline" style="width: 24px; height: 24px;">
                                </ion-icon>
                                <span class="track-data m-1">Speech Recognition and Synthesis</span>
                            </p>
                            <p class="m-0 d-flex align-items-center justify-content-start">
                                <ion-icon name="chevron-forward-circle-outline" style="width: 24px; height: 24px;">
                                </ion-icon>
                                <span class="track-data m-1">Speech Enhancement</span>
                            </p>
                            <p class="m-0 d-flex align-items-center justify-content-start">
                                <ion-icon name="chevron-forward-circle-outline" style="width: 24px; height: 24px;">
                                </ion-icon>
                                <span class="track-data m-1">Spoken Document Retrieval</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="div-margin row">
                    <div class="track-card p-4" data-aos="fade-up">
                        <h4 class="">e-Governance and Localization</h4>
                        <p style="color: rgb(75, 71, 71);">Track 5</p>
                        <div>
                            <p class="m-0 d-flex align-items-center justify-content-start">
                                <ion-icon name="chevron-forward-circle-outline" style="width: 24px; height: 24px;">
                                </ion-icon>
                                <span class="track-data m-1">e-Commerce </span>
                            </p>
                            <p class="m-0 d-flex align-items-center justify-content-start">
                                <ion-icon name="chevron-forward-circle-outline" style="width: 24px; height: 24px;">
                                </ion-icon>
                                <span class="track-data m-1">e-Services </span>
                            </p>
                            <p class="m-0 d-flex align-items-center justify-content-start">
                                <ion-icon name="chevron-forward-circle-outline" style="width: 24px; height: 24px;">
                                </ion-icon>
                                <span class="track-data m-1">e-Democracy </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--end of call for papers description-->
</body>
</html>
{% endblock %}