{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">

  <link href="https://malayalam.icfoss.org/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
  <!-- icon css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <!--css containing margin and padding-->
    <link rel="stylesheet" href="{% static 'Website/alignment.css'%}">
    <!-- faq CSS -->
    <link rel="stylesheet" href="{% static 'Website/faq.css'%}">
    <!-- tracks CSS -->
    <link rel="stylesheet" href="{% static 'Website/speaker.css'%}">
    <!-- venue CSS -->
    <link rel="stylesheet" href="{% static 'Website/venue.css'%}">
    <!-- awards CSS -->
    <link rel="stylesheet" href="{% static 'Website/awards.css'%}">
    <!-- schedule CSS -->
    <link rel="stylesheet" href="{% static 'Website/schedule.css'%}">
    <!-- style.css -->
    <link rel="stylesheet" href="{% static 'Website/style.css'%}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <!-- <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script> -->
    <!-- <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> -->
    <!-- ========move to top======== -->
    <style>
    #myBtn {
      display: none;
      position: fixed;
      bottom: 20px;
      right: 30px;
      z-index: 99;
      font-size: 0px;
      border: none;
      outline: none;
      background-color:#FD7E14;
      color: white;
      cursor: pointer;
      padding: 18px;
      border-radius: 50px;
    }

    #myBtn:hover {
      background: #f06d02 !important;
    }
  /* Top Arrow style */
    .arrow {
      border: solid #fff;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3.75px;
}
    .up {
       transform: rotate(-135deg);
       -webkit-transform: rotate(-135deg);
        }
  </style>
</head>
<body>
    <!-- ========== navigation ========== -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
            <!-- <a class="navbar-brand " href="{% url 'Website:index' %}"> <img src="{% static 'assets/logo.svg'%}" width="90"></a> -->
            <a class="navbar-brand toplogo img" href="{% url 'Website:index' %}"><img src="{% static 'assets/govt_of_kerala.png'%}" width="55px" height=40px style= "margin-right:9px"><img src="{% static 'assets/ICFOSS_logo.png'%}"width="100"> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item btn btn-light">
                      <a class="nav-link active" aria-current="page" href="{% url 'Website:index' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown btn btn-light">
                      <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          About
                      </a>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{% url 'Website:index' %}#Conference"">Conference</a></li>
                          <li><a class="dropdown-item" href="{% url 'Website:index' %}#About"">ICFOSS</a></li>
                          <li><a class="dropdown-item" href="{% url 'Website:index' %}#Speakers">Speakers</a></li>
                          <li><a class="dropdown-item" href="#">Committee</a></li>
                          <li><a class="dropdown-item" href="{% url 'Website:index' %}#Schedule">Schedule</a></li>
                          <li><a class="dropdown-item" href="{% url 'Website:index' %}#Venue">Venue</a></li>
                          <li><a class="dropdown-item" href="{% url 'Website:index' %}#Help">Help</a></li>
                      </ul>
                  </li>
                  <li class="nav-item btn btn-light">
                    <a class="nav-link active" href="{% url 'Website:callforpaper' %}">Call for papers</a>
                  </li>
                    <!-- <li class="nav-item dropdown btn btn-light">
                        <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            For Authors
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'Website:callforpaper' %}">Call For Papers</a></li>
                            <li><a class="dropdown-item" href="{% url 'Website:papersub' %}">Paper Submission</a></li>
                        </ul>
                    </li> -->
                    <li class="nav-item dropdown btn btn-light">
                      <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          News
                      </a>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{% url 'Website:acceptedpub' %}">Accepetd Papers</a></li>
                          <li><a class="dropdown-item" href="#">Awards</a></li>
                          <li><a class="dropdown-item" href="#">Blogs</a></li>
                      </ul>
                    </li>
                    <li class="nav-item btn btn-light">
                        <a class="nav-link active" href="{% url 'Website:reg' %}">Registration</a>
                    </li>
                    <!-- <li class="nav-item btn btn-light">
                        <a class="nav-link active" href="{% url 'Website:index' %}#Schedule">Schedule</a>
                    </li> -->
                    <!-- <li class="nav-item btn btn-light">
                        <a class="nav-link active" href="{% url 'Website:index' %}#Speakers">Speakers</a>
                    </li>
                    <li class="nav-item btn btn-light">
                        <a class="nav-link active" href="{% url 'Website:index' %}#Awards">Awards</a>
                    </li>
                    <li class="nav-item btn btn-light">
                        <a class="nav-link active" href="{% url 'Website:index' %}#Venue">Venue</a>
                    </li>
                    <li class="nav-item btn btn-light">
                        <a class="nav-link active"  href="{% url 'Website:index' %}#Help">Help</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav> <!-- end of nav -->
    {% block content %}
    <!-- move to top button ====== -->

      <button onclick="topFunction()" id="myBtn" title="Go to top">
      <i class="arrow up"></i>
      </button>
    <!-- end of move to top button-->

    <!-- ========== header ========== -->

    <section>
      <div class="container header-container">
        <header>
          <div class="col-lg-6 ">
            <h1 class="bold-heading">International conference on language Technologies</h1>
            <p class="mt-3">2 Feb 2023 Monday - 6 Feb 2023 Wednesday</p>
            <p class="mt-2"><iconify-icon icon="material-symbols:location-on-outline-rounded" class="m-0"></iconify-icon>&nbsp;ICFOSS,Trivandrum</p>
            <!-- <p class="mt-2"><i class="fa fa-solid fa-location-dot"></i>&nbsp;ICFOSS,Trivandrum</p> -->
            <div class="mt-lg-4">
              <a href="{% url 'Website:reg' %}"><button type="button" class="btn primary-button btn-lg ">Submit paper</button></a>
              <a href="{% url 'Website:reg' %}"><button type="button" class="btn primary-button-outlined btn-lg ">Register Now</button></a>
            </div>
          </div>
          <!-- <div class="container text-center" >
            <h1 class="p-3">International Conference on Language Technologies</h1>
            <h4 class="p-3">Lorem ipsum Dolor Sit Amet Consectetur Adipisicing</h4>
            <a href="{% url 'Website:reg' %}"><button type="button" class="btn primary-button btn-lg ">Register Now</button></a>
          </div> -->
        </header>
      </div>
    </section> <!-- end of header -->

    <!-- ========== about the conference ======== -->

    <section id="Conference" class="container sec-margin ">
        <div class="row align-items-center">
          <div class="col-lg-6 ">
            <h1 class="bold-heading">International conference on language Technologies</h1>
            <p class="m-0 ">2 Feb 2023 - 6 Feb 2023</p>
          </div>
          <div class="col-lg-6">
            <p class="line-space">
              The conference Artificial Intelligence in Language Technology is to bring together
              students, researchers, engineers and practitioners interested on difference aspects of Language
              Technologies. The Conference looks for significant contributions to all major fields of the Natural
              Language processing and Computational Linguistics in theoretical and practical aspects.
            </p>
          </div>
        </div>
        <!-- <p class="line-space">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Nostrum eius laudantium necessitatibus unde dolor voluptate autem blanditiis fuga ab adipisci,
            itaque facilis.
            Odio minima, animi commodi ipsum dignissimos libero aspernatur!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Nostrum eius laudantium necessitatibus unde dolor voluptate autem blanditiis fuga ab adipisci,
            itaque facilis.
            Odio minima, animi commodi ipsum dignissimos libero aspernatur!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Nostrum eius laudantium necessitatibus unde dolor voluptate autem blanditiis fuga ab adipisci,
            itaque facilis.
        </p>
        <p class="line-space">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Nostrum eius laudantium necessitatibus unde dolor voluptate autem blanditiis fuga ab adipisci,
            itaque facilis.
            Odio minima, animi commodi ipsum dignissimos libero aspernatur!
            Odio minima, animi commodi ipsum dignissimos libero aspernatur!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Nostrum eius laudantium necessitatibus unde dolor voluptate autem blanditiis fuga ab adipisci,
            itaque facilis.
            Odio minima, animi commodi ipsum dignissimos libero aspernatur!
        </p> -->
    </section> <!-- end of about the conference -->


    <!-- ========== about ICFOSS ========== -->

    <section id="About" class="container index-sec-margin">
      <div class="row align-items-center">
        <div class="row align-items-center">
          <h3 class="col-lg-3">About us</h3>
          <hr class="col-lg-9">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <p class="line-space mt-md-3 mt-sm-3 mt-xs-3">ICFOSS is the outcome of a decade of work by Free Software enthusiasts, advocates, developers and supporters in the state of Kerala and outside.
             Recognizing the strides made by the FOSS community in Kerala, the Government of Kerala implimented the International Centre for Free and Open Source Software (ICFOSS) in 2009.
          </p>
          <p class="line-space">ICFOSS today carries out a number of FOSS-related activities in a model that brings together Academia,
             Industry, Government and the FOSS Community.
              <!-- Activities of ICFOSS presently includes R & D;Support to FOSS software development; FOSS Pilot Programs; technology assistance to Government programs and institutions; Local Language computing; Student FOSS activities; Internet Governance; Studies on FOSS; Exploring FOSS Certification; and Capacity Building of students to enter the FOSS Community. -->
          </p>
          <p>Want to know more about us ? &nbsp;visit our website....</p>
        </div><div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <div class="video-container p-3">
          <iframe src="https://www.youtube.com/embed/myQ-BfJ0rkk" title="ICFOSS" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section><!--end of about icfoss-->



    <!-- ========== speakers details ========== -->

    <section id="Speakers" class="container index-sec-margin">
      <div class="row">
        <!-- speaker card -->
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class=" pt-5">
            <div class="card speaker-card">
              <img src="{% static 'assets/steve.jpg'%}"  class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Speaker Name</h5>
                <h6 class="card-subtitle mb-2 ">Designation</h6>
                <h6 class="card-subtitle mb-2 ">Organization Name</h6>
              </div>
            </div>
          </div>
        </div><!--end of speaker card-->
        <!-- speaker card -->
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class=" pt-5">
            <div class="card speaker-card">
              <img src="{% static 'assets/steve.jpg'%}"  class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Speaker Name</h5>
                <h6 class="card-subtitle mb-2 ">Designation</h6>
                <h6 class="card-subtitle mb-2 ">Organization Name</h6>
              </div>
            </div>
          </div>
        </div><!--end of speaker card-->
        <!-- speaker card -->
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class=" pt-5">
            <div class="card speaker-card">
              <img src="{% static 'assets/steve.jpg'%}"  class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Speaker Name</h5>
                <h6 class="card-subtitle mb-2 ">Designation</h6>
                <h6 class="card-subtitle mb-2 ">Organization Name</h6>
              </div>
            </div>
          </div>
        </div><!--end of speaker card-->
      </div>
    </section><!--end of speakers details-->



  <!-- ========== schedule ========== -->

  <section id="Schedule" class="container index-sec-margin">
    <h1 class="bold-heading">The Event</h1>
    <p class="line-space">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit modi aspernatur labore consectetur dignissimos! Similique, ipsam est placeat exercitationem laboriosam cumque saepe modi neque nobis ex. Dolore odit aliquid error?
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit modi aspernatur labore consectetur dignissimos! Similique, ipsam est placeat exercitationem laboriosam cumque saepe modi neque nobis ex. Dolore odit aliquid error?
    </p>
    <div class="wrapper">
          <div class="box">
            <input checked="checked" id="box1" name="box" type="radio"> 
            <label for="box1" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">DAY1</label>
            <div class="content">
              <h4>02-January-2023</h4>
              <div class="ps-lg-3 mt-lg-3 mt-md-4 mt-sm-3">
                <div class="row mt-lg-2">
                  <div class="col-lg-4 mb-sm-1">10:00 AM</div>
                  <div class="col-lg-8">
                    <h5>Introduction & Welcome</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  </div>
                </div>
                <div class="row mt-lg-2">
                  <div class="col-lg-4 mb-sm-1">10:00 AM</div>
                  <div class="col-lg-8">
                    <h5>lorem ipsum</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  </div>
                </div>
                <div class="row mt-lg-2">
                  <div class="col-lg-4 mb-sm-1">10:00 AM</div>
                  <div class="col-lg-8">
                    <h5>dolor sit amet</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  </div>
                </div>
                <div class="row mt-lg-2">
                  <div class="col-lg-4 mb-sm-1">10:00 AM</div>
                  <div class="col-lg-8">
                    <h5>consectetur</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  </div>
                </div>
              </div>
            </div>
            <input id="box2" name="box" type="radio">
            <label for="box2" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">DAY2</label>
            <div class="content">
              <h4>02-January-2023</h4>
              <div class="ps-lg-3 mt-lg-3 mt-md-4 mt-sm-3">
                <div class="row mt-lg-2">
                  <div class="col-lg-4 mb-sm-1">10:00 AM</div>
                  <div class="col-lg-8">
                    <h5>Introduction & Welcome</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  </div>
                </div>
                <div class="schedule-break row mt-lg-2">
                  <div class="col-lg-4 mb-sm-1">10:00 AM</div>
                  <div class="col-lg-8">
                    <h5>Break</h5>
                  </div>
                </div>
                <div class="row mt-lg-2">
                  <div class="col-lg-4 mb-sm-1">10:00 AM</div>
                  <div class="col-lg-8">
                    <h5>dolor sit amet</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  </div>
                </div>
                <div class="row mt-lg-2">
                  <div class="col-lg-4 mb-sm-1">10:00 AM</div>
                  <div class="col-lg-8">
                    <h5>consectetur</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  </div>
                </div>
                <div class="row mt-lg-2">
                  <div class="col-lg-4 mb-sm-1">10:00 AM</div>
                  <div class="col-lg-8">
                    <h5>consectetur</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  </div>
                </div>
              </div> 
            </div>
            <input id="box3" name="box" type="radio">
            <label for="box3" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">DAY3</label>
            <div class="content">
              <h4>02-January-2023</h4>
              <div class="ps-lg-3 mt-lg-3 mt-md-4 mt-sm-3">
                <div class="row mt-lg-2">
                  <div class="col-lg-4 mb-sm-1">10:00 AM</div>
                  <div class="col-lg-8">
                    <h5>Introduction & Welcome</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  </div>
                </div>
                <div class="row mt-lg-2">
                  <div class="col-lg-4 mb-sm-1">10:00 AM</div>
                  <div class="col-lg-8">
                    <h5>lorem ipsum</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  </div>
                </div>
                <div class="row mt-lg-2">
                  <div class="col-lg-4 mb-sm-1">10:00 AM</div>
                  <div class="col-lg-8">
                    <h5>dolor sit amet</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  </div>
                </div>
                <div class="schedule-break row mt-lg-2">
                  <div class="col-lg-4 mb-sm-1">10:00 AM</div>
                  <div class="col-lg-8">
                    <h5>Break</h5>
                  </div>
                </div>
                <div class="row mt-lg-2">
                  <div class="col-lg-4 mb-sm-1">10:00 AM</div>
                  <div class="col-lg-8">
                    <h5>consectetur</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  </div>
                </div>
                <div class="row mt-lg-2">
                  <div class="col-lg-4 mb-sm-1">10:00 AM</div>
                  <div class="col-lg-8">
                    <h5>lorem ipsum</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  </div>
                </div>
                <div class="row mt-lg-2">
                  <div class="col-lg-4 mb-sm-1">10:00 AM</div>
                  <div class="col-lg-8">
                    <h5>dolor sit amet</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  </div>
                </div>
                <div class="schedule-break row mt-lg-2">
                  <div class="col-lg-4 mb-sm-1">10:00 AM</div>
                  <div class="col-lg-8">
                    <h5>Break</h5>
                  </div>
                </div>
                <div class="row mt-lg-2">
                  <div class="col-lg-4 mb-sm-1">10:00 AM</div>
                  <div class="col-lg-8">
                    <h5>consectetur</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </section> <!--end of schedule-->

  <!-- ========== Awads ========== -->
  <section class="sec-margin">
    <div class="container">
      <p class="text-center mx-lg-5">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis accusamus cum in, illo laborum sequi eos laudantium consectetur minus voluptate necessitatibus vel aliquid! Porro repellendus hic iure animi nisi suscipit.lorem ipsum dolor sit amet
      </p>
      <div class="row">
        <!-- award card -->
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class=" pt-5">
              <div class="card speaker-card">
                <img src="{% static 'assets/steve.jpg'%}"  class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Speaker Name</h5>
                  <h6 class="card-subtitle mb-2 ">Designation</h6>
                  <h6 class="card-subtitle mb-2 ">Organization Name</h6>
                </div>
              </div>
            </div>
          </div>
        <!--end of award card-->
        <!-- award card -->
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class=" pt-5">
            <div class="card speaker-card">
              <img src="{% static 'assets/steve.jpg'%}"  class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Speaker Name</h5>
                <h6 class="card-subtitle mb-2 ">Designation</h6>
                <h6 class="card-subtitle mb-2 ">Organization Name</h6>
              </div>
            </div>
          </div>
        </div>
      <!--end of award card-->
        <!-- award card -->
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class=" pt-5">
            <div class="card speaker-card">
              <img src="{% static 'assets/steve.jpg'%}"  class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Speaker Name</h5>
                <h6 class="card-subtitle mb-2 ">Designation</h6>
                <h6 class="card-subtitle mb-2 ">Organization Name</h6>
              </div>
            </div>
          </div>
        </div>
      <!--end of award card-->
      </div>
    </div>
  </section>

      <!-- ========== speakers details ========== -->

      <!-- <section id="Speakers" class="container index-sec-margin">
        <div class="row"> -->
          <!-- speaker card -->
          <!-- <div class="col-lg-4 col-md-6 col-sm-6">
            <div class=" pt-5">
              <div class="card speaker-card">
                <img src="{% static 'assets/steve.jpg'%}"  class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Speaker Name</h5>
                  <h6 class="card-subtitle mb-2 ">Designation</h6>
                  <h6 class="card-subtitle mb-2 ">Organization Name</h6>
                </div>
              </div>
            </div>
          </div> -->
          <!--end of speaker card-->
          <!-- speaker card -->
          <!-- <div class="col-lg-4 col-md-6 col-sm-6">
            <div class=" pt-5">
              <div class="card speaker-card">
                <img src="{% static 'assets/steve.jpg'%}"  class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Speaker Name</h5>
                  <h6 class="card-subtitle mb-2 ">Designation</h6>
                  <h6 class="card-subtitle mb-2 ">Organization Name</h6>
                </div>
              </div>
            </div>
          </div> -->
          <!--end of speaker card-->
          <!-- speaker card -->
          <!-- <div class="col-lg-4 col-md-6 col-sm-6">
            <div class=" pt-5">
              <div class="card speaker-card">
                <img src="{% static 'assets/steve.jpg'%}"  class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Speaker Name</h5>
                  <h6 class="card-subtitle mb-2 ">Designation</h6>
                  <h6 class="card-subtitle mb-2 ">Organization Name</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!--end of speakers details-->

      <!-- ========== Awards ========== -->


      <!-- <Section id="Awards" class="container index-sec-margin" >
        <h1 class="text-center">Awards</h1>
        <div class="d-flex align-items-center award-wrapper sec-margin">
           <div class="col-lg-2 col-md-2">
            <img src="{% static 'assets/award.png'%}" alt="award_image" class="img-container" >
          </div>
          <div class="col-lg-10 col-md-10 ms-lg-3 ms-md-3 ">
              <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid aspernatur ipsum molestiae a doloremque cumque sed ea vitae, odio laborum magni! Sed quaerat aliquam excepturi impedit aperiam, eius quidem laborum.</p>
          </div>
        </div>
        <div class="d-flex align-items-center award-wrapper sec-margin">
          <div class="col-lg-2 col-md-2">
            <img src="{% static 'assets/award.png'%}" alt="award_image" class="img-container" >
          </div>
          <div class="col-lg-10 col-md-10 ms-lg-3 ms-md-3">
            <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid aspernatur ipsum molestiae a doloremque cumque sed ea vitae, odio laborum magni! Sed quaerat aliquam excepturi impedit aperiam, eius quidem laborum.</p>
          </div>
        </div>
        <div class="d-flex align-items-center award-wrapper sec-margin">
          <div class="col-lg-2 col-md-2">
            <img src="{% static 'assets/award.png'%}" alt="award_image" class="img-container" >
          </div>
          <div class="col-lg-10 col-md-10 ms-lg-3 ms-md-3">
            <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid aspernatur ipsum molestiae a doloremque cumque sed ea vitae, odio laborum magni! Sed quaerat aliquam excepturi impedit aperiam, eius quidem laborum.</p>
          </div>
        </div> -->
    <!-- </Section> -->
    <!--end of awards-->


    <!-- ========== Venue ========== -->

    <section id="Venue" class="container-fluid section-bg-color p-4 index-sec-margin">
      <div class="container">
        <div class="row align-items-center">
          <h3 class="col-lg-4 bold-heading">Join us</h3>
          <hr class="col-lg-8">
        </div>
        <!-- <h2 class=" text-center bold-heading">Join with us</h2> -->
        <div class="row mt-lg-1">
          <div  class="col-lg-6 col-md-6 col-sm-12">
            <p class="line-space">
              We heartly welcome you to register for an in-person event and join us at ICFOSS Trivandrum to interact with the community and make the most of it.
            </p>
          </div>
          <div  class="col-lg-6 col-md-6 col-sm-12 line-space">
            <p class="m-0">International Centre for Free and Open Source Software</p>
            <p class="m-0">Swatantra,&nbsp;South Pavilion</p>
            <p class="m-0">Sports Hub,&nbsp;Karyavattom</p>
            <p class="m-0">Trivandrum,&nbsp;Kerala 695581</p>
            <!-- <p class="m-0">Kerala 695581</p> -->
          </div>
        </div>
        <div class="div-margin">
          <div class="map-column">
            <div class="maparea">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15781.052987190249!2d76.8843399!3d8.5706673!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xffd05608a23b6d0d!2sInternational%20Centre%20for%20Free%20and%20Open%20Source%20Software%20(ICFOSS)!5e0!3m2!1sen!2sin!4v1668491567441!5m2!1sen!2sin"
                style="border:0;" allowfullscreen="" loading="lazy" class="map-frame"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section><!--end of venue-->


    <!-- ========== Help ========== -->

    <section id="Help" class="index-sec-margin">
            <div class="container">
              <div class="text-center mb-lg-3">
                <hr>
                <p class="sec-margin line-space mb-lg-5">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit a fugiat voluptatum tempore pariatur neque possimus eveniet corporis, itaque nesciunt expedita eius vero quis omnis illo explicabo. Qui, corrupti libero!
                </p>
              </div>
              <div id="help" class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                  <div class="p-3" data-aos="fade-up">
                    <div class="row gy-6 pt-1">
                      <!-- <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1"> -->
                      <div class="content px-xl-9">
                        <h3>Frequently Asked <strong>Questions</strong></h3>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                        </p>
                      </div>
                      <div class="accordion accordion-flush faq" id="faqlist">
                        <div class="accordion-item" data-aos="fade-up" data-aos-delay="200">
                          <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#faq-content-1">
                              Non consectetur a erat nam at lectus urna duis?
                            </button>
                          </h3>
                          <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                              Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non
                              curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item" data-aos="fade-up" data-aos-delay="300">
                          <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#faq-content-2">
                              Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?
                            </button>
                          </h3>
                          <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                              Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit
                              laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium.
                              Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa
                              tincidunt dui.
                            </div>
                          </div>
                        </div><!-- # Faq item-->

                        <div class="accordion-item" data-aos="fade-up" data-aos-delay="400">
                          <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#faq-content-3">
                             Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi?
                            </button>
                          </h3>
                          <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                              Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar
                              elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus
                              pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at
                              elementum eu facilisis sed odio morbi quis
                            </div>
                          </div>
                        </div><!-- # Faq item-->
                        <div class="accordion-item" data-aos="fade-up" data-aos-delay="500">
                          <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#faq-content-4">
                              Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?
                            </button>
                          </h3>
                          <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                              Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit
                              laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium.
                              Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa
                              tincidunt dui.
                            </div>
                          </div>
                        </div><!-- # Faq item-->
                        <div class="accordion-item" data-aos="fade-up" data-aos-delay="600">
                          <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#faq-content-5">
                              Tempus quam pellentesque nec nam aliquam sem et tortor consequat?
                            </button>
                          </h3>
                          <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <div class="accordion-body">
                              Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est
                              ante
                              in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing
                              bibendum est. Purus gravida quis blandit turpis cursus in
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                  <div class="single-form p-5">
                    <form action="{% url 'Website:faqpost' %}" method="post">
                      {% csrf_token %}
                      <div class="mb-3">
                        <label for="name" class="form-label">Your Name</label>
                        <input type="text" class="form-control" placeholder="full-name" id="name" name="name"
                          aria-describedby="emailHelp" required>
                      </div>
                      <div class="mb-3">
                        <label for="contact_number" class="form-label">Contact Number</label>
                        <input type="tel" placeholder="phone number" class="form-control" name= "contact_number" id="contact_number"
                          aria-describedby="emailHelp"required>
                      </div>
                      <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" placeholder="email@address" name="email" id="email"
                          aria-describedby="emailHelp" required>
                      </div>
                      <div class="mb-3">
                        <label for="message" class="form-label">Message</label>
                        <textarea type="text" class="form-control" placeholder="" name = "message"
                          id="message" required></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary secondary-button">Send Message</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
    </section><!--end of help-->
    
    {% endblock %}
    <!--========== Footer ========== -->
    <footer class="index-sec-margin">
      <!-- Section: Links  -->
      <section class="footer-bg-color p-2">
        <div class="container text-md-start mt-5">
         <!-- Grid row -->
         <div class="row mt-3">
           <!-- Grid column -->
           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-lg-start text-md-start text-sm-start text-center mb-4">
             <p>
               ICFOSS<br>Swatantra, South Pavilion<br>Sports Hub, Karyavattom<br>Trivandrum-695581<br>Kerala, India
             </p>
           </div>
           <!-- Grid column -->
           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-lg-end text-md-end text-sm-end text-center mb-md-0 mb-4">
             <p class="m-0">
               info@icfoss.in
             </p>
             <p class="m-0">+91 471-2413012</p>
             <p class="m-0">+91-9400225962</p>
           </div>
           <!-- Grid column -->
         </div>
         <!-- Grid row -->
       </div>
       <div class="container text-center">
        <!-- Twitter -->
        <a class="btn btn-outline-light social-icon btn-floating m-1" href="https://twitter.com/fosskerala" target="_blank" role="button">
          <i class="fa fa-twitter"  title="twitter"></i>
        </a>
        <!-- Facebook -->
        <a class="btn btn-outline-light social-icon btn-floating m-1" href="https://www.facebook.com/ICFOSS" target="_blank" role="button">
          <i class="fa fa-facebook" title="facebook"></i>
        </a>
        <!-- Linkedin -->
        <a class="btn btn-outline-light social-icon btn-floating m-1" href="https://www.linkedin.com/company/icfoss" target="_blank" role="button">
          <i class="fa fa-linkedin" title="linkedin"></i>
        </a>
       </div>
     </section>
     <!-- Copyright -->
     <div class="footer-bg-color footer-border text-center p-4">
       Designed and developed by e-Governance R&D Lab <strong><a href="https://icfoss.in/" target="_blank" class="footer-link">ICFOSS</a></strong>
     </div>
   </footer>
   <!-- Footer end -->
  <!-- /* java Script */ -->
  <script>
// Get the button
let mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
</body>
</html>

