{% extends 'Website/index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <!--  -->
    <link rel="stylesheet" type="text/css" href="{% static 'Website/registation.css'%}">
    <!--css containing margin and padding-->
    <link rel="stylesheet" href="{% static 'Website/alignment.css'%}">
</head>

<body>
     <!-- ========== navigation ========== -->
     {% block content %}
    <!-- Starting first section-text section -->
    <section class="">
        <div class="container ">
            <div class="herodiv1 pt-5">
                <h1 class="pb-2"> Registration</h1>
                <p class="pb-2 line-space">The conference will run in a hybrid mode but we highly encourage the participants to register for an in-
                    person event and join us at ICFOSS Thiruvanthapuram, India to interact with the community and make the most of it.
                </p>
            </div>
            <div class="div-margin row ">
                <div class="col-lg-6">
                    <div class="text-center">
                        <a href="{% url 'Website:update' %}" role="button" class="btn primary-button p-1 btn-lg ">Register as Author</a>
                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-md-4 mt-sm-4 mt-xs-4 ">
                    <div class="text-center">
                        <a href="{% url 'Website:update' %}" role="button" class="btn primary-button p-1 btn-lg ">Register as Participant</a>
                    </div>
                </div>
            </div>
    </section>
    <section>
        <!-- registation category -->
        <div class="container">
            <div class="pt-5">
                <h3>Fee Details</h3>
                <div class="row">
                    <!-- Author table  -->
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Author</th>
                                    <th scope="col">Fee Structure</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">PG Students</th>
                                    <td>750</td>
                                </tr>
                                <tr>
                                    <th scope="row">Research scholar</th>
                                    <td>1000</td>
                                </tr>
                                <tr>
                                    <th scope="row">Faculty member/Indrustrial persons</th>
                                    <td colspan="4">2000</td>
                                </tr>
                                <tr>
                                    <th scope="row">International Delegates</th>
                                    <td colspan="4">30 USD</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Participant table-->
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Participant</th>
                                    <th scope="col">Fee Structure</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Students/Research scholar</th>
                                    <td>500</td>

                                </tr>
                                <tr>
                                    <th scope="row">Faculty member</th>
                                    <td>800</td>

                                </tr>
                                <tr>
                                    <th scope="row">Indrustrial persons</th>
                                    <td colspan="4">800</td>
                                </tr>
                                <tr>
                                    <th scope="row">International Delegates</th>
                                    <td colspan="4">25 USD</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- <--------Account_Details------>
<div class="pt-3">
    <table class="table">
        <thead class="table-dark">
    <h3>Account Details</h3>
    <tbody>
        <tr>
            <th scope="row">Account Name:</th>
            <td>ICFOSS</td>

        </tr>
        <tr>
            <th scope="row">Account Number</th>
            <td>67242303296</td>

        </tr>
        <tr>
            <th scope="row">IFSC</th>
            <td colspan="4">SBIN0070737</td>
        </tr>

        <tr>
            <th scope="row">Name of Bank</th>
            <td colspan="4">State Bank of India</td>
        </tr>

        <tr>
            <th scope="row">Branch</th>
            <td colspan="4">Technopark, Thejaswini, Thiruvananthapuram</td>
        </tr>
    </tbody>
    </thead>
    </table>
    </div>
                </div>
            </div>
        </div>


</body>

</html>

{% endblock %}